In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/talking_data.csv')

In [ ]:
df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [ ]:
df.attributed_time.unique()

array([nan, '2017-11-08 02:22:38', '2017-11-08 06:10:37',
       '2017-11-07 11:59:05', '2017-11-09 11:52:01',
       '2017-11-08 01:55:02', '2017-11-07 13:10:30',
       '2017-11-08 22:39:52', '2017-11-09 08:47:55',
       '2017-11-08 04:37:46', '2017-11-08 09:46:42',
       '2017-11-09 09:30:19', '2017-11-07 20:21:42',
       '2017-11-07 06:49:01', '2017-11-08 08:56:58',
       '2017-11-08 00:16:14', '2017-11-07 04:00:09',
       '2017-11-07 07:56:49', '2017-11-09 15:17:13',
       '2017-11-08 14:35:39', '2017-11-09 07:38:10',
       '2017-11-07 23:12:03', '2017-11-09 08:52:49',
       '2017-11-07 07:55:54', '2017-11-07 03:38:32',
       '2017-11-08 10:37:23', '2017-11-09 09:44:00',
       '2017-11-08 00:48:35', '2017-11-07 01:19:12',
       '2017-11-07 13:22:10', '2017-11-08 14:25:07',
       '2017-11-09 07:11:19', '2017-11-07 11:18:09',
       '2017-11-07 08:32:53', '2017-11-07 23:07:41',
       '2017-11-07 01:37:32', '2017-11-07 10:14:30',
       '2017-11-07 13:15:15', '2017-11-08 12:18:44',
       '2017-11-07 06:29:27', '2017-11-09 04:43:30',
       '2017-11-07 07:31:15', '2017-11-08 06:12:02',
       '2017-11-08 11:18:39', '2017-11-07 14:17:52',
       '2017-11-09 00:44:51', '2017-11-06 17:19:04',
       '2017-11-08 12:51:58', '2017-11-08 13:55:49',
       '2017-11-08 01:07:33', '2017-11-09 05:02:33',
       '2017-11-07 03:05:13', '2017-11-08 09:06:37',
       '2017-11-08 01:23:34', '2017-11-07 04:09:58',
       '2017-11-09 06:05:22', '2017-11-07 00:39:43',
       '2017-11-08 08:03:26', '2017-11-08 06:23:29',
       '2017-11-07 03:01:55', '2017-11-07 05:30:55',
       '2017-11-07 13:01:41', '2017-11-07 01:35:27',
       '2017-11-09 03:48:19', '2017-11-07 14:35:55',
       '2017-11-08 07:15:56', '2017-11-09 11:42:06',
       '2017-11-09 10:13:19', '2017-11-09 12:03:50',
       '2017-11-08 02:38:22', '2017-11-07 03:33:02',
       '2017-11-09 14:53:22', '2017-11-07 15:48:34',
       '2017-11-08 05:11:04', '2017-11-09 05:27:49',
       '2017-11-09 02:12:43', '2017-11-08 03:16:13',
       '2017-11-09 15:28:15', '2017-11-09 13:03:34',
       '2017-11-08 03:35:42', '2017-11-07 08:08:09',
       '2017-11-09 10:47:54', '2017-11-09 11:50:42',
       '2017-11-08 15:26:07', '2017-11-07 12:52:45',
       '2017-11-07 00:15:11', '2017-11-07 11:37:53',
       '2017-11-09 05:45:04', '2017-11-09 10:18:07',
       '2017-11-07 05:57:39', '2017-11-08 01:17:35',
       '2017-11-09 12:08:01', '2017-11-08 04:18:08',
       '2017-11-09 02:13:48', '2017-11-08 11:17:24',
       '2017-11-09 13:04:59', '2017-11-08 03:35:22',
       '2017-11-09 08:56:28', '2017-11-07 13:40:35',
       '2017-11-09 07:28:37', '2017-11-09 15:05:43',
       '2017-11-07 10:43:47', '2017-11-06 21:30:47',
       '2017-11-09 09:03:22', '2017-11-08 10:47:46',
       '2017-11-08 15:56:03', '2017-11-08 15:32:29',
       '2017-11-08 14:00:05', '2017-11-06 23:58:31',
       '2017-11-07 11:41:50', '2017-11-08 00:59:05',
       '2017-11-07 11:22:32', '2017-11-08 14:17:26',
       '2017-11-07 01:35:31', '2017-11-08 01:05:50',
       '2017-11-08 23:59:05', '2017-11-09 12:49:58',
       '2017-11-09 09:52:13', '2017-11-08 14:02:51',
       '2017-11-09 01:04:00', '2017-11-08 09:09:41',
       '2017-11-07 01:34:22', '2017-11-08 01:46:26',
       '2017-11-09 10:38:02', '2017-11-08 12:47:19',
       '2017-11-08 12:23:06', '2017-11-07 15:36:50',
       '2017-11-07 14:28:28', '2017-11-07 08:08:00',
       '2017-11-08 14:55:24', '2017-11-07 07:57:47',
       '2017-11-08 06:23:40', '2017-11-09 09:18:23',
       '2017-11-07 12:06:46', '2017-11-09 09:42:54',
       '2017-11-08 08:19:39', '2017-11-09 06:38:34',
       '2017-11-07 07:26:43', '2017-11-08 05:48:16',
       '2017-11-08 05:04:58', '2017-11-09 14:30:54',
       '2017-11-07 08:20:01', '2017-11-08 10:29:01',
       '2017-11-08 13:49:55', '2017-11-09 01:13:01',
       '2017-11-08 04:35:54', '2017-11-08 06:19:51',
       '2017-11-09 08:57:08', '2017-11-08 06:22:10',
       '2017-11-07 14:33:31', '2017-11-07 14:55:56',
       '2017-11-09 03:52:48', '2017-11-08 14:40:50',
       '2017-11-07 02:54:59', '2017-11-07 13:46:28',
       '2017-11-07 23:11:40', '2017-11-07 13:17:15',
       '2017-11-09 12:40:10', '2017-11-07 07:52:55',
       '2017-11-09 10:57:44', '2017-11-09 08:59:35',
       '2017-11-09 12:31:04', '2017-11-07 04:33:40',
       '2017-11-07 09:07:51', '2017-11-07 08:22:08',
       '2017-11-09 00:18:24', '2017-11-08 05:03:30',
       '2017-11-08 13:08:33', '2017-11-07 08:36:30',
       '2017-11-07 11:10:53', '2017-11-08 06:43:39',
       '2017-11-09 14:22:16', '2017-11-09 04:21:34',
       '2017-11-08 01:21:48', '2017-11-07 01:50:04',
       '2017-11-08 06:04:27', '2017-11-08 08:57:28',
       '2017-11-09 05:28:52', '2017-11-07 05:19:36',
       '2017-11-07 03:18:39', '2017-11-07 02:28:42',
       '2017-11-08 10:01:21', '2017-11-07 07:12:58',
       '2017-11-08 10:39:19', '2017-11-08 14:22:43',
       '2017-11-08 15:42:47', '2017-11-07 11:13:21',
       '2017-11-08 00:01:03', '2017-11-08 13:14:18',
       '2017-11-08 03:40:54', '2017-11-07 07:35:47',
       '2017-11-07 09:03:35', '2017-11-08 11:38:39',
       '2017-11-08 04:38:38', '2017-11-07 05:34:58',
       '2017-11-09 07:21:55', '2017-11-07 07:47:54',
       '2017-11-08 14:28:21', '2017-11-08 21:06:07',
       '2017-11-08 23:45:22', '2017-11-09 06:45:06',
       '2017-11-07 13:00:22', '2017-11-06 23:16:28',
       '2017-11-08 14:30:55', '2017-11-09 08:46:04',
       '2017-11-07 07:05:11', '2017-11-07 04:30:44',
       '2017-11-07 08:49:54', '2017-11-09 08:34:40',
       '2017-11-08 14:09:52', '2017-11-09 13:32:51',
       '2017-11-07 15:12:59', '2017-11-08 23:53:53',
       '2017-11-08 07:03:53', '2017-11-08 11:25:09',
       '2017-11-09 15:15:34', '2017-11-08 10:15:57',
       '2017-11-09 11:49:13', '2017-11-09 08:07:09',
       '2017-11-07 03:17:23', '2017-11-08 12:07:07',
       '2017-11-09 00:21:23', '2017-11-08 06:21:17',
       '2017-11-09 09:24:31', '2017-11-09 11:20:15',
       '2017-11-08 14:58:38', '2017-11-08 15:37:58',
       '2017-11-08 15:09:40'], dtype=object)

In [ ]:
df.isnull().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [ ]:
df['attributed_time'].mode()

0      2017-11-06 17:19:04
1      2017-11-06 21:30:47
2      2017-11-06 23:16:28
3      2017-11-06 23:58:31
4      2017-11-07 00:15:11
              ...
222    2017-11-09 14:53:22
223    2017-11-09 15:05:43
224    2017-11-09 15:15:34
225    2017-11-09 15:17:13
226    2017-11-09 15:28:15
Length: 227, dtype: object

In [ ]:
df['attributed_time'].unique()

array([nan, '2017-11-08 02:22:38', '2017-11-08 06:10:37',
       '2017-11-07 11:59:05', '2017-11-09 11:52:01',
       '2017-11-08 01:55:02', '2017-11-07 13:10:30',
       '2017-11-08 22:39:52', '2017-11-09 08:47:55',
       '2017-11-08 04:37:46', '2017-11-08 09:46:42',
       '2017-11-09 09:30:19', '2017-11-07 20:21:42',
       '2017-11-07 06:49:01', '2017-11-08 08:56:58',
       '2017-11-08 00:16:14', '2017-11-07 04:00:09',
       '2017-11-07 07:56:49', '2017-11-09 15:17:13',
       '2017-11-08 14:35:39', '2017-11-09 07:38:10',
       '2017-11-07 23:12:03', '2017-11-09 08:52:49',
       '2017-11-07 07:55:54', '2017-11-07 03:38:32',
       '2017-11-08 10:37:23', '2017-11-09 09:44:00',
       '2017-11-08 00:48:35', '2017-11-07 01:19:12',
       '2017-11-07 13:22:10', '2017-11-08 14:25:07',
       '2017-11-09 07:11:19', '2017-11-07 11:18:09',
       '2017-11-07 08:32:53', '2017-11-07 23:07:41',
       '2017-11-07 01:37:32', '2017-11-07 10:14:30',
       '2017-11-07 13:15:15', '2017-11-08 12:18:44',
       '2017-11-07 06:29:27', '2017-11-09 04:43:30',
       '2017-11-07 07:31:15', '2017-11-08 06:12:02',
       '2017-11-08 11:18:39', '2017-11-07 14:17:52',
       '2017-11-09 00:44:51', '2017-11-06 17:19:04',
       '2017-11-08 12:51:58', '2017-11-08 13:55:49',
       '2017-11-08 01:07:33', '2017-11-09 05:02:33',
       '2017-11-07 03:05:13', '2017-11-08 09:06:37',
       '2017-11-08 01:23:34', '2017-11-07 04:09:58',
       '2017-11-09 06:05:22', '2017-11-07 00:39:43',
       '2017-11-08 08:03:26', '2017-11-08 06:23:29',
       '2017-11-07 03:01:55', '2017-11-07 05:30:55',
       '2017-11-07 13:01:41', '2017-11-07 01:35:27',
       '2017-11-09 03:48:19', '2017-11-07 14:35:55',
       '2017-11-08 07:15:56', '2017-11-09 11:42:06',
       '2017-11-09 10:13:19', '2017-11-09 12:03:50',
       '2017-11-08 02:38:22', '2017-11-07 03:33:02',
       '2017-11-09 14:53:22', '2017-11-07 15:48:34',
       '2017-11-08 05:11:04', '2017-11-09 05:27:49',
       '2017-11-09 02:12:43', '2017-11-08 03:16:13',
       '2017-11-09 15:28:15', '2017-11-09 13:03:34',
       '2017-11-08 03:35:42', '2017-11-07 08:08:09',
       '2017-11-09 10:47:54', '2017-11-09 11:50:42',
       '2017-11-08 15:26:07', '2017-11-07 12:52:45',
       '2017-11-07 00:15:11', '2017-11-07 11:37:53',
       '2017-11-09 05:45:04', '2017-11-09 10:18:07',
       '2017-11-07 05:57:39', '2017-11-08 01:17:35',
       '2017-11-09 12:08:01', '2017-11-08 04:18:08',
       '2017-11-09 02:13:48', '2017-11-08 11:17:24',
       '2017-11-09 13:04:59', '2017-11-08 03:35:22',
       '2017-11-09 08:56:28', '2017-11-07 13:40:35',
       '2017-11-09 07:28:37', '2017-11-09 15:05:43',
       '2017-11-07 10:43:47', '2017-11-06 21:30:47',
       '2017-11-09 09:03:22', '2017-11-08 10:47:46',
       '2017-11-08 15:56:03', '2017-11-08 15:32:29',
       '2017-11-08 14:00:05', '2017-11-06 23:58:31',
       '2017-11-07 11:41:50', '2017-11-08 00:59:05',
       '2017-11-07 11:22:32', '2017-11-08 14:17:26',
       '2017-11-07 01:35:31', '2017-11-08 01:05:50',
       '2017-11-08 23:59:05', '2017-11-09 12:49:58',
       '2017-11-09 09:52:13', '2017-11-08 14:02:51',
       '2017-11-09 01:04:00', '2017-11-08 09:09:41',
       '2017-11-07 01:34:22', '2017-11-08 01:46:26',
       '2017-11-09 10:38:02', '2017-11-08 12:47:19',
       '2017-11-08 12:23:06', '2017-11-07 15:36:50',
       '2017-11-07 14:28:28', '2017-11-07 08:08:00',
       '2017-11-08 14:55:24', '2017-11-07 07:57:47',
       '2017-11-08 06:23:40', '2017-11-09 09:18:23',
       '2017-11-07 12:06:46', '2017-11-09 09:42:54',
       '2017-11-08 08:19:39', '2017-11-09 06:38:34',
       '2017-11-07 07:26:43', '2017-11-08 05:48:16',
       '2017-11-08 05:04:58', '2017-11-09 14:30:54',
       '2017-11-07 08:20:01', '2017-11-08 10:29:01',
       '2017-11-08 13:49:55', '2017-11-09 01:13:01',
       '2017-11-08 04:35:54', '2017-11-08 06:19:51',
       '2017-11-09 08:57:08', '2017-11-08 06:22:10',
       '2017-11-07 14:33:31', '2017-11-07 14:55:56',
       '2017-11-09 03:52:48', '2017-11-08 14:40:50',
       '2017-11-07 02:54:59', '2017-11-07 13:46:28',
       '2017-11-07 23:11:40', '2017-11-07 13:17:15',
       '2017-11-09 12:40:10', '2017-11-07 07:52:55',
       '2017-11-09 10:57:44', '2017-11-09 08:59:35',
       '2017-11-09 12:31:04', '2017-11-07 04:33:40',
       '2017-11-07 09:07:51', '2017-11-07 08:22:08',
       '2017-11-09 00:18:24', '2017-11-08 05:03:30',
       '2017-11-08 13:08:33', '2017-11-07 08:36:30',
       '2017-11-07 11:10:53', '2017-11-08 06:43:39',
       '2017-11-09 14:22:16', '2017-11-09 04:21:34',
       '2017-11-08 01:21:48', '2017-11-07 01:50:04',
       '2017-11-08 06:04:27', '2017-11-08 08:57:28',
       '2017-11-09 05:28:52', '2017-11-07 05:19:36',
       '2017-11-07 03:18:39', '2017-11-07 02:28:42',
       '2017-11-08 10:01:21', '2017-11-07 07:12:58',
       '2017-11-08 10:39:19', '2017-11-08 14:22:43',
       '2017-11-08 15:42:47', '2017-11-07 11:13:21',
       '2017-11-08 00:01:03', '2017-11-08 13:14:18',
       '2017-11-08 03:40:54', '2017-11-07 07:35:47',
       '2017-11-07 09:03:35', '2017-11-08 11:38:39',
       '2017-11-08 04:38:38', '2017-11-07 05:34:58',
       '2017-11-09 07:21:55', '2017-11-07 07:47:54',
       '2017-11-08 14:28:21', '2017-11-08 21:06:07',
       '2017-11-08 23:45:22', '2017-11-09 06:45:06',
       '2017-11-07 13:00:22', '2017-11-06 23:16:28',
       '2017-11-08 14:30:55', '2017-11-09 08:46:04',
       '2017-11-07 07:05:11', '2017-11-07 04:30:44',
       '2017-11-07 08:49:54', '2017-11-09 08:34:40',
       '2017-11-08 14:09:52', '2017-11-09 13:32:51',
       '2017-11-07 15:12:59', '2017-11-08 23:53:53',
       '2017-11-08 07:03:53', '2017-11-08 11:25:09',
       '2017-11-09 15:15:34', '2017-11-08 10:15:57',
       '2017-11-09 11:49:13', '2017-11-09 08:07:09',
       '2017-11-07 03:17:23', '2017-11-08 12:07:07',
       '2017-11-09 00:21:23', '2017-11-08 06:21:17',
       '2017-11-09 09:24:31', '2017-11-09 11:20:15',
       '2017-11-08 14:58:38', '2017-11-08 15:37:58',
       '2017-11-08 15:09:40'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [ ]:
df.click_time.unique()

array(['2017-11-07 09:30:38', '2017-11-07 13:40:27',
       '2017-11-07 18:05:24', ..., '2017-11-09 04:21:28',
       '2017-11-07 09:33:14', '2017-11-09 13:25:41'], dtype=object)

In [ ]:
df.attributed_time.isna().sum()

99773

In [ ]:
df1=df
df1['click_time']=pd.to_datetime(df['click_time'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  datetime64[ns]
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 6.1+ MB

In [ ]:
hour=df1['click_time'].dt.strftime('%H')
df1['hour']=hour

In [ ]:
df1.hour
df.hour.astype('int')

0         9
1        13
2        18
3         4
4         9
         ..
99995    13
99996    11
99997    11
99998    17
99999    14
Name: hour, Length: 100000, dtype: int64

In [ ]:
day_of_week=df1['click_time'].dt.day_of_week
df1['day_of_week']=day_of_week
df1['day_of_week'].astype('int')

0        1
1        1
2        1
3        1
4        3
        ..
99995    3
99996    1
99997    2
99998    2
99999    1
Name: day_of_week, Length: 100000, dtype: int64

In [ ]:
month=df1['click_time'].dt.month
df1['month']=month
df1.month.astype('int')

0        11
1        11
2        11
3        11
4        11
         ..
99995    11
99996    11
99997    11
99998    11
99999    11
Name: month, Length: 100000, dtype: int64

In [ ]:
dayofyear=df1['click_time'].dt.dayofyear
df1['dayofyear']=dayofyear
df1.dayofyear.astype('int')

0        311
1        311
2        311
3        311
4        313
        ...
99995    313
99996    311
99997    312
99998    312
99999    311
Name: dayofyear, Length: 100000, dtype: int64

In [ ]:
x=df1.groupby('app').min()
print(x)

         ip  device   os  channel          click_time  is_attributed hour  \
app
1        27       1    1       13 2017-11-06 16:00:23              0   00
2        20       1    1       18 2017-11-06 16:00:13              0   00
3        25       1    1       19 2017-11-06 16:00:11              0   00
4      5314       1    1      101 2017-11-07 03:42:22              0   02
5      1091       1    1      110 2017-11-06 17:25:40              0   00
..      ...     ...  ...      ...                 ...            ...  ...
486  245311       0   24       21 2017-11-07 17:03:28              0   17
536   49856       1   19       21 2017-11-06 16:50:40              0   16
538    4136    3032  607      347 2017-11-07 08:47:53              0   08
548  191061    3543  748      347 2017-11-08 12:43:09              0   12
551   67285     347  113      243 2017-11-07 10:39:53              0   10

     day_of_week  month  dayofyear
app
1              0     11        310
2              0     11        310
3              0     11        310
4              1     11        311
5              0     11        310
..           ...    ...        ...
486            1     11        311
536            0     11        310
538            1     11        311
548            2     11        312
551            1     11        311

[161 rows x 10 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

In [ ]:
x=df1['app'].value_counts(ascending=True)
print(x)

100        1
145        1
548        1
124        1
78         1
       ...
15      8595
9       8992
2      11737
12     13198
3      18279
Name: app, Length: 161, dtype: int64

In [ ]:
apps=df1['app'].value_counts(normalize=True)
df5 =pd.DataFrame(apps) 
df5.rename(columns={'app':'percentage'},inplace=True)

In [ ]:
df5.rename_axis('apps',inplace=True)
df5

      percentage
apps
3        0.18279
12       0.13198
2        0.11737
9        0.08992
15       0.08595
...          ...
145      0.00001
97       0.00001
96       0.00001
267      0.00001
261      0.00001

[161 rows x 1 columns]

In [ ]:
frequent_apps= df1.groupby('app').is_attributed.count()
print(frequent_apps)

app
1       3135
2      11737
3      18279
4         58
5        188
       ...
486        1
536        1
538        1
548        1
551        1
Name: is_attributed, Length: 161, dtype: int64

In [ ]:
frequent_apps= df1.groupby('app').size().reset_index(name='count')

frequent_apps = frequent_apps[frequent_apps['count']>frequent_apps['count'].quantile(.8)]
frequent_apps

     app  count
0      1   3135
1      2  11737
2      3  18279
4      5    188
5      6   1303
6      7    981
7      8   2004
8      9   8992
9     10    388
10    11   1927
11    12  13198
12    13   2422
13    14   5359
14    15   8595
16    17    380
17    18   8315
18    19    478
19    20    911
20    21   1979
21    22    386
22    23   1454
23    24    704
24    25    804
25    26   1633
26    27    696
27    28    720
28    29    360
31    32    286
35    36    102
58    64   1079
116  150     73
117  151    109

In [ ]:
frequent_apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 117
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   app     32 non-null     int64
 1   count   32 non-null     int64
dtypes: int64(2)
memory usage: 768.0 bytes

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  datetime64[ns]
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
 8   hour             100000 non-null  object
 9   day_of_week      100000 non-null  int64
 10  month            100000 non-null  int64
 11  dayofyear        100000 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(2)
memory usage: 9.2+ MB

In [ ]:
del df1['click_time']

In [ ]:
del df1['attributed_time']

In [ ]:
del df1['apps']

KeyError: ignored

In [ ]:
df1

,ip,app,device,os,channel,is_attributed,hour,day_of_week,month,dayofyear
0,87540,12,1,13,497,0,09,1,11,311
1,105560,25,1,17,259,0,13,1,11,311
2,101424,12,1,19,212,0,18,1,11,311
3,94584,13,1,13,477,0,04,1,11,311
4,68413,12,1,1,178,0,09,3,11,313
...,...,...,...,...,...,...,...,...,...,...
99995,124883,11,1,19,122,0,13,3,11,313
99996,85150,9,1,13,244,0,11,1,11,311
99997,18839,3,1,13,19,0,11,2,11,312
99998,114276,15,1,12,245,0,17,2,11,312
99999,119349,14,1,15,401,0,14,1,11,311

In [ ]:
df1['hour']=df1.hour.astype('int')
df2=df1
x = df1.drop(['is_attributed'], axis=1)
y=df1.is_attributed
df2['hour']=df2.hour.astype('int')

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ip           100000 non-null  int64
 1   app          100000 non-null  int64
 2   device       100000 non-null  int64
 3   os           100000 non-null  int64
 4   channel      100000 non-null  int64
 5   hour         100000 non-null  int64
 6   day_of_week  100000 non-null  int64
 7   month        100000 non-null  int64
 8   dayofyear    100000 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB

In [ ]:
y.value_counts()

0    99773
1      227
Name: is_attributed, dtype: int64

In [ ]:
import imblearn
from imblearn.over_sampling import SMOTE
sm=SMOTE()
x_smote,y_smote=sm.fit_resample(x,y)

In [ ]:
y_smote.value_counts()

0    99773
1    99773
Name: is_attributed, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_1=StandardScaler()
x_train_smote1=sc_1.fit_transform(x_smote)
# scaling the independent data

In [ ]:
df2['hour']=df2.hour.astype('int')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ip             100000 non-null  int64
 1   app            100000 non-null  int64
 2   device         100000 non-null  int64
 3   os             100000 non-null  int64
 4   channel        100000 non-null  int64
 5   is_attributed  100000 non-null  int64
 6   hour           100000 non-null  int64
 7   day_of_week    100000 non-null  int64
 8   month          100000 non-null  int64
 9   dayofyear      100000 non-null  int64
dtypes: int64(10)
memory usage: 7.6 MB

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_smote,y_smote,test_size=0.25,random_state=0)
# splitting the data for training

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

bgcl = BaggingClassifier(n_estimators=10, max_samples= .7, bootstrap=True, base_estimator=LogisticRegression())
bgcl = bgcl.fit(x_train, y_train)
y_pred = bgcl.predict(x_test)
bgcl_score=bgcl.score(x_test, y_test)
print("The Bagging classifier model accuracy is {}".format(bgcl_score))
print("The confusion matrix of Bagging classifier model is")
print(metrics.confusion_matrix(y_test,y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

The Bagging classifier model accuracy is 0.8096698538697457
The confusion matrix of Bagging classifier model is
[[20660  4135]
 [ 5360 19732]]

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
gbcl = GradientBoostingClassifier(n_estimators = 50, learning_rate = 0.05)
gbcl = gbcl.fit(x_train, y_train)
y_pred = gbcl.predict(x_test)
gbcl_score=gbcl.score(x_test , y_test)
print("The Gradient Boost classifier model accuracy is {}".format(gbcl_score))
print("The confusion matrix of Gradient Boost classifier model is")
print(metrics.confusion_matrix(y_test,y_pred))

The Gradient Boost classifier model accuracy is 0.9283580892817768
The confusion matrix of Gradient Boost classifier model is
[[23079  1716]
 [ 1858 23234]]

In [ ]:
from sklearn import metrics
con_matrix=metrics.confusion_matrix(y_test,y_pred)
print(con_matrix)
print(metrics.classification_report(y_test,y_pred,labels=[0,1]))

[[23079  1716]
 [ 1858 23234]]
              precision    recall  f1-score   support

           0       0.93      0.93      0.93     24795
           1       0.93      0.93      0.93     25092

    accuracy                           0.93     49887
   macro avg       0.93      0.93      0.93     49887
weighted avg       0.93      0.93      0.93     49887

In [ ]:
import xgboost as xgb

model = xgb.XGBClassifier()
xgboost = model.fit(x_train,y_train)
y_pred = model.predict_proba(x_test) 
print(y_pred)
#print(metrics.confusion_matrix(y_test,y_pred))

[[0.04030639 0.9596936 ]
 [0.98297733 0.01702269]
 [0.00753194 0.99246806]
 ...
 [0.94116765 0.05883236]
 [0.96999454 0.03000544]
 [0.00388539 0.9961146 ]]

In [ ]:
y_pred_1 = model.predict(x_test)
print(y_pred_1)
print(metrics.confusion_matrix(y_test,y_pred_1))

[1 0 1 ... 0 0 1]
[[23899   896]
 [ 1193 23899]]

In [ ]:
print('PREDICTIONS :',y_pred[:10])
print('REAL VALUS :',y_test[:10])